.actions {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
  align-self: center;
  font-size: 0.875rem;

  a {
    background-color: var(--dark);
    border-radius: 1rem;
    display: block;
    padding: 0 0.25rem;
  }
}
