ul.crew {
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  display: grid;
  grid-auto-rows: minmax(min-content, 3rem);
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.crew li {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-dark);
  color: var(--text);
  padding: 0.25rem;
  transition: all 1s;
  border-radius: 0.25rem;

  h4,
  p {
    margin: 0;
    text-align: center;
  }

  p {
    font-size: 1rem;
  }
}
