ul.crew {
  display: grid;
  grid-auto-rows: minmax(min-content, 3rem);
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: 100%;

  @media screen and (min-width: 30rem) {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  li {
    position: relative;
    height: 100%;
    background-color: var(--contrast-dark);
    color: var(--text);
    padding: 0.25rem;
    transition: all 1s;
    border-radius: 0.25rem;

    @media screen and (min-width: 30rem) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    h4,
    p {
      margin: 0;
      text-align: center;
    }

    p {
      font-size: 1rem;
    }
  }
}
