@use 'sass:color';

$baseDark: hsl(251, 28%, 15%);

.movie-popup-inner {
  position: relative;
  --cutoff: 15rem;
  --cutoff-overlap: 10rem;
  padding: 0 1rem;
  &.has-background {
    padding: calc(var(--cutoff) - var(--cutoff-overlap)) 0 1rem;
  }
  color: var(--text);

  .background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark);
    background-image: var(--backdrop-path);
    background-blend-mode: normal;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--cutoff);
    max-width: 60rem;
    width: 100%;
    z-index: -1;

    &::before {
      background-image: linear-gradient(
          90deg,
          var(--dark) 0,
          color.change($baseDark, $alpha: 0.75) 1%,
          color.change($baseDark, $alpha: 0.5) 2%,
          color.change($baseDark, $alpha: 0) 5%,
          color.change($baseDark, $alpha: 0) 95%,
          color.change($baseDark, $alpha: 0.5) 98%,
          color.change($baseDark, $alpha: 0.75) 99%,
          var(--dark) 100%
        ),
        linear-gradient(
          0deg,
          var(--dark) 0,
          color.change($baseDark, $alpha: 0.9) 5%,
          color.change($baseDark, $alpha: 0.8) 10%,
          color.change($baseDark, $alpha: 0.5) 15%,
          color.change($baseDark, $alpha: 0) 25%,
          color.change($baseDark, $alpha: 0) 95%,
          color.change($baseDark, $alpha: 0.5) 98%,
          color.change($baseDark, $alpha: 0.75) 100%
        );
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: var(--cutoff);
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }

  display: grid;
  grid-template:
    'sidebar' auto
    'header' auto
    'main' 1fr /
    100%;
  align-content: center;
  justify-items: center;

  @media screen and (min-width: 30rem) {
    grid-template:
      'sidebar header' auto
      'sidebar main' 1fr /
      10rem 1fr;
    --cutoff: 25rem;
    --cutoff-overlap: 3rem;
  }

  max-width: 60rem;
  width: 100%;
  margin: 0 auto;

  header {
    grid-area: header;

    padding: 0 1rem;

    font-size: 1.5rem;
    align-items: baseline;
    flex-wrap: wrap;

    h1 {
      font-size: 2.5rem;
      text-align: left;
    }
    h1,
    p {
      display: inline;
      margin: 0;
      margin-right: 0.75rem;
    }
  }

  main {
    grid-area: main;
    padding: 1rem;

    section {
      margin-bottom: 1rem;
      h2 {
        margin-bottom: 1rem;
      }
    }
  }

  aside {
    grid-area: sidebar;
    max-width: 10rem;
  }
}
