ul.movie-search-results {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;

  > li {
    width: 100%;
    display: contents;
  }

  @media screen and (min-width: 37.5rem) {
    display: grid;
    grid-template:
      auto /
      repeat(auto-fill, minmax(20rem, 1fr));
  }

  .movie-search-result {
    position: relative;
    display: grid;
    grid-template-areas: 'name name' 'poster showtimes';
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    gap: 0.25rem;

    border-radius: 1rem;
    background-image: linear-gradient(
      var(--dark) 0,
      var(--mid) 50%,
      var(--light) 100%
    );
    padding: 0.5rem;
    background-size: 100% 150%;

    text-align: center;

    .movie-heading {
      font-size: 1.25rem;
      padding: 0;
      margin: 0.5rem 0;
      grid-area: name;
    }

    .poster {
      grid-area: poster;
    }
  }
}
