.floating-buttons {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;

  flex-direction: column;

  @media screen and (min-width: 600px) {
    left: -1rem;
    top: -0.5rem;
    right: unset;
  }
}
