:root {
  --start: auto;
  --endSpan: auto;
}

$orientations: row column, column row;

@each $mainAxis, $crossAxis in $orientations {
  @media screen and (min-width: 600px) {
    .#{$mainAxis} {
      .grid-placer {
        grid-#{$crossAxis}-start: var(--start);
        grid-#{$crossAxis}-end: span max(var(--endSpan), 6);
      }
    }
  }
}
