:root {
  --start: auto;
  --endSpan: auto;
}

$orientations: row, column;

@each $orientation in $orientations {
  @media screen and (min-width: 600px) {
    .#{$orientation} {
      .grid-placer {
        grid-#{$orientation}-start: var(--start);
        grid-#{$orientation}-end: span max(var(--endSpan), 6);
      }
    }
  }
}
