.movie-summary {
  color: var(--text);
  border-radius: 0.25rem;
  padding: 0.25rem;
  position: relative;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--mid);

  display: grid;
  grid-template: auto auto auto/ auto 1fr;
  grid-template-areas: 'poster heading' 'poster links' 'poster showtimes';

  .movie-heading,
  .poster,
  .cinema {
    margin: 0;
  }

  .movie-heading {
    grid-area: heading;
  }
  .poster {
    grid-area: poster;
    align-self: center;
    display: flex;
    align-items: center;
  }
  .cinema {
    grid-area: cinema;
    justify-self: center;
  }
  .external-links {
    grid-area: links;
  }

  @media screen and (min-width: 600px) {
    display: grid;
    padding-top: 0;
    grid-template:
      'poster heading' 4rem
      'poster showtimes' 1fr
      'links showtimes' 1fr
      / 8rem 1fr;

    .poster {
      align-self: flex-start;
    }
    .movie-heading h3 {
      font-size: 1rem;
      word-break: break-word;
    }
    .movie-heading p {
      font-size: 0.75rem;
    }
  }
}
