.search-form {
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  align-self: center;
  position: relative;

  input {
    &[type='search'] {
      width: 10rem;
      border-radius: 1rem 0 0 1rem;
    }

    &[type='submit'] {
      margin-left: 1px;
      margin-right: 0.5rem;
      border-radius: 0 1rem 1rem 0;
    }
  }
}
