@mixin interactiveElement {
  position: relative;
  font-family: var(--font-text);
  font-size: 1.25rem;
  padding: 0 0.25rem;
  margin: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem var(--button-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin buttonColours {
  color: var(--dark);
  background-color: var(--contrast);
  background-color: var(--light);
  color: var(--text);

  &:hover {
    color: var(--dark);
    background-color: var(--button-hover-background);
  }

  &.selected {
    background-color: var(--contrast-dark);
    color: var(--white);
  }

  &.active {
    background-color: var(--positive-light);
    color: var(--dark);
  }

  &.inside {
    background-color: var(--contrast);
    color: var(--mid);
  }

  &:hover {
    background-color: var(--contrast);
    border: none;
  }

  &.selected:hover {
    background-color: var(--mid);
    color: var(--text);
  }
}

@mixin buttonHoverState {
  transform: translateY(-0.125rem);
  box-shadow: 0rem 0.75rem 0.5rem -0.25rem var(--button-shadow);
}

a,
button,
input {
  transition: all 300ms ease-out;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover);
}

button,
input[type='button'],
input[type='submit'] {
  @include buttonColours;
  &:hover {
    @include buttonHoverState;
  }
}

button,
input {
  @include interactiveElement;
}

button {
  &.loading {
    animation: spin 0.75s infinite;
  }

  &.round {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 50%;
    font-weight: bold;
  }
}
