.calendar {
  display: grid;
  color: var(--dark);
  grid-auto-columns: auto;
  justify-content: center;
  grid-template: auto 1fr / 1fr;
}

.calendar-date {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'head' 'shows';
  grid-auto-flow: row;
}

.calendar-head {
  grid-area: head;
  grid-row: 1;
  counter-increment: column;
  font-size: 2rem;
}

.calendar .movie .overlay {
  display: flex;
  align-items: center;
  height: 2rem;
  height: 100%;
  top: 0;
  transform: rotateX(0.5turn);
  background: none;
}

.calendar .movie:hover .overlay,
.calendar .movie.show-overlay .overlay {
  transform: rotateX(1turn);
}

.calendar .movies {
  grid-area: shows;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  overflow-x: scroll;
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .calendar-date {
    justify-items: center;
  }

  .calendar .movies {
    display: grid;
    grid-template: repeat(96, 4rem) / auto;
    grid-auto-columns: auto;
    column-gap: 0.5rem;
  }
}
