.member-card-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  gap: 0.25rem;
  list-style: none;
}

.member-card {
  padding: 0.125rem;
  border-radius: 0.25rem;
  background-color: var(--dark);
  color: white;
}

.showtimes-grouping {
  display: grid;
  grid-template-columns: 1fr repeat(100, 10rem);
  grid-auto-flow: row;
  row-gap: 1rem;
}

.showtime-for-group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.group-heading {
  grid-row: span 3;
}

.group-heading h2 {
  transform: rotate(-0.25turn);
  transform-origin: 75% 200%;
}

.showtime {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  background: var(--dark);
  color: white;
  border-radius: 4px;
}

.member-card-list {
  grid-area: cards;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.member-card {
  /* padding: 0.125rem; */
  padding: 0.25rem;
  text-align: center;
}
