:root {
  --dark: #1c153a;
  --mid: #34276c;
  --light: #533ea7;
  --light-half: #533ea780;
  --text: #e6e3f4;
  --link: #ff6969;
  --contrast: #ff6969;
  --contrast-dark: #cd3737;
  --contrast-dark-half: #cd373780;
  --contrast-shadow: #ff696967;

  --splash-gradient-start: var(--dark);
  --splash-gradient-midpoint: var(--mid);
  --splash-gradient-end: var(--light);
  --splash-shadow: var(--dark);
  --toast-background-color: var(--contrast);
  --toast-shadow: var(--contrast-shadow);

  --toast-text-color: #3f3275;

  --button-hover-background: var(--contrast-dark);
  --button-shadow: #533ea791;
  --button-border: #3d2a8a;
}
