:root {
  --dark: hsl(251, 28%, 15%);
  --mid: hsl(251, 38%, 28%);
  --light: hsl(252, 33%, 50%);
  --light-half: hsla(252, 33%, 50%, 0.5);
  --contrast: hsl(230, 75%, 78%);
  --contrast-dark: hsl(230, 61%, 27%);
  --contrast-alt-dark: hsl(0, 71%, 27%);
  --contrast-dark-half: hsla(230, 61%, 27%, 0.5);
  --contrast-shadow: hsla(230, 75%, 68%, 0.4);
  --positive-light: hsl(118, 83%, 74%);

  --text: hsl(0, 0%, 85%);
  --link: var(--text);
  --link-hover: var(--positive-light);

  --splash-gradient-start: var(--dark);
  --splash-gradient-midpoint: var(--mid);
  --splash-gradient-end: var(--light);
  --splash-shadow: var(--dark);

  --toast-background-color: var(--contrast-dark);
  --toast-shadow: var(--light-half);
  --toast-text-color: var(--text);

  --button-hover-background: var(--contrast-dark);
  --button-shadow: var(--contrast-dark-half);
  --button-border: var(--mid);
}
