.hamburger {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 26px;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::after,
.hamburger .hamburger-inner::before {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  width: 26px;
  background-color: var(--contrast);
  transform-origin: center;
}

.hamburger .hamburger-inner {
  margin-top: -2px;
  top: 50%;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger .hamburger-inner::before {
  bottom: -7px;
  transition: bottom 0.2s ease-in 0.34s,
    transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger .hamburger-inner::after {
  top: -7px;
  transition: top 0.2s ease-in 0.34s, opacity 0s 0.2s;
}

.hamburger.active .hamburger-inner {
  transform: rotate(-0.625turn);
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
}

.hamburger.active .hamburger-inner::before {
  bottom: 0px;
  transform: rotate(1.75turn);
  transition: bottom 0.2s ease-in,
    transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
}

.hamburger.active .hamburger-inner::after {
  top: 0px;
  opacity: 0;
  transition: top 0.2s ease-in 0s, opacity 0s 0.2s;
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}
