.app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--mid);
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.app-header .header-main-row {
  display: flex;
  height: 5rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

body {
  /* to allow for the fixed header */
  padding-top: 5rem;
}

.app-header .mobile-collapsible {
  display: flex;
  flex-direction: column;
}

.app-header h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.app-header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.account-header {
  display: flex;
  height: 4rem;
  gap: 1rem;
  background: var(--contrast);
  padding: 0.5rem;
  color: var(--mid);
}

.account-header picture {
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.125rem solid var(--light);
}

.account-header picture img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.account-header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.account-header a {
  color: inherit;
}

@media screen and (min-width: 600px) {
  .app-header {
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
  }

  .app-header h1 {
    padding: 1rem;
    font-size: 2rem;
  }

  .app-header nav {
    flex-direction: row;
  }

  .app-header .mobile-collapsible {
    display: contents;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 100%;
  }
}
