section.movies-section {
  text-align: center;
}

section.movies-section h2 {
  font-size: 3rem;
}

.movies {
  display: grid;
  grid-template: auto / auto;
  grid-gap: 1rem;
}

.movie {
  display: grid;
  grid-template-areas:
    'poster'
    'heading'
    'showtimes';
  grid-template-columns: 1fr;
  grid-template-rows: auto 5rem auto;
  text-align: center;
}
.movie .poster {
  grid-area: poster;
  justify-self: center;
  align-self: center;
  box-shadow: 0.5rem 0.5rem 1rem -0.25rem var(--dark);
}

.movie .movie-heading {
  grid-area: heading;
  margin: 0;
  align-self: center;
  justify-self: center;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  gap: 1rem;
}

.movie .movie-showtimes {
  grid-area: showtimes;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-auto-rows: 4rem;
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.movie-showtimes.expanded {
  height: min-content;
}

.movie-showtime {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #533ea7;
  padding: 1rem;
  transition: all 1s;
}

.movie-showtime .extra-info {
  display: none;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100%;
}

.movie h3 {
  font-size: 1.5rem;
}
.movie-showtime h3,
.movie-showtime h4,
.movie-showtime p {
  margin: 0;
}
.movie-showtime h4 {
  font-size: 1.25rem;
}

.movie-showtime:hover .extra-info,
.movie-showtime.show-overlay .extra-info {
  display: block;
  width: 100%;
  text-align: center;
}

.movie-showtime .overlay {
  display: flex;
  align-items: center;
  height: 2rem;
  height: 100%;
  top: 0;
  transform: rotateX(0.5turn);
}

.movie-showtime:hover .overlay,
.movie-showtime.show-overlay .overlay {
  transform: rotateX(1turn);
}

.movie button.add-to-calendar {
  width: 1.5rem;
  padding: 0;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

/* Movies filters */
.movies-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0.25rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.movies-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mid);
  padding: 1rem;
  margin: 0;
  transition: all 0.5s;
  border-radius: 0.25rem;
  color: white;
}

.movies-filter:hover {
  background-color: var(--contrast);
}

.selected .movies-filter {
  background-color: var(--contrast);
  color: #3f3275;
}

.selected .movies-filter:hover {
  background-color: var(--mid);
  color: white;
}

@media screen and (min-width: 600px) {
  .movies {
    grid-template: auto / repeat(auto-fill, minmax(30rem, 1fr));
  }

  .movie {
    grid-template-areas:
      'poster heading'
      'poster showtimes';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5rem 1fr;
  }
}
