.movie-popup {
  position: fixed;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  z-index: 4;
  display: grid;
  grid-template: 100% / 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s linear;
}

.movie-popup.active {
  height: 100vh;
  width: 100vw;
  padding: 5%;
  top: 0;
  left: 0;
}

.movie-popup > div {
  height: 100%;
  width: 100%;
  padding: 0;
  background-image: var(--backdrop-path),
    linear-gradient(45deg, var(--light-half), var(--contrast-dark-half));
  background-blend-mode: color-dodge;
  color: var(--dark);
  background-position: top center;
  background-size: contain;
  background-size: 20% contain;
  background-image: linear-gradient(transparent 1%, #f04e4ee0 15%),
    var(--backdrop-path);
  background-blend-mode: inherit;
  background-repeat: no-repeat;
  padding-top: 20%;
  align-self: stretch;
  justify-self: stretch;
  font-size: 1.25rem;
  overflow-y: scroll;
}

.movie-popup.active > div {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.movie-popup > div > * {
  display: none;
}
.movie-popup.active > div > * {
  display: block;
}

.movie-popup > div {
  /* background-position: top center; */
  /* background-size: contain; */
  /* background-size: 20% contain; */
  /* background-image: linear-gradient(transparent 1%, #f04e4ee0 15%), var(--backdrop-path); */
  /* background-blend-mode: inherit; */
  background-position: top center, 50% 0%, top center;
  background-size: 100%, 95% 40%, auto 40%;
  background-image: linear-gradient(var(--contrast) 1%, #f04e4e10 15%),
    radial-gradient(transparent 0% 60%, black 70% 70%), var(--backdrop-path);
  background-blend-mode: normal;
  background-color: black;
}
