.movie-popup {
  position: fixed;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  z-index: 4;
  display: grid;
  grid-template: 100% / 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s linear;
}

.movie-popup.active {
  height: 100vh;
  width: 100vw;
  padding: 5%;
  top: 0;
  left: 0;
}

.movie-popup > div {
  height: 100%;
  width: 100%;
  padding: 0;
  background-image: var(--backdrop-path),
    linear-gradient(45deg, var(--light), var(--contrast));
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
}

.movie-popup.active > div {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.movie-popup > div > * {
  display: none;
}
.movie-popup.active > div > * {
  display: block;
}
