section.movies-section {
  text-align: center;
}

section.movies-section h2 {
  font-size: 3rem;
  background-color: var(--dark);
  border-radius: 1.25rem;
  padding: 0.5rem;
  margin: 0.25rem;
}
section.movies-section > p {
  background-color: var(--mid);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

.movies {
  display: grid;
  grid-template: auto / auto;
  gap: 0.5rem;
}

.movie {
  display: grid;
  grid-template-areas:
    'poster'
    'heading'
    'showtimes';
  grid-template-columns: 1fr;
  grid-template-rows: auto 5rem auto;
  text-align: center;
  background-image: linear-gradient(
    var(--dark) 0,
    var(--mid) 50%,
    var(--light) 100%
  );
  border-radius: 1rem;
  padding: 0.5rem;
  gap: 0.5rem;
}
.movie .poster {
  grid-area: poster;
  justify-self: center;
  align-self: center;
  box-shadow: 0.5rem 0.5rem 1rem -0.25rem var(--dark);
}

.movie .movie-heading {
  grid-area: heading;
  margin: 0;
  align-self: center;
  justify-self: center;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  gap: 1rem;
}

.movie .movie-showtimes {
  grid-area: showtimes;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  grid-auto-rows: 5rem;
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.movie-showtimes.expanded {
  height: min-content;
}
.movies.poster-tile-view {
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.movies.poster-tile-view .movie {
  grid-template: 'poster' auto;
}
.movies.poster-tile-view .movie .movie-showtimes,
.movies.poster-tile-view .movie .movie-heading {
  display: none;
}

.movie-showtime {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #533ea7;
  padding: 0.5rem;
  transition: all 1s;
  border-radius: 0.25rem;
}

.movie-showtime .extra-info {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100%;
}

.movie h3 {
  font-size: 1.5rem;
}
.movie-showtime h3,
.movie-showtime h4,
.movie-showtime p {
  margin: 0;
}
.movie-showtime h4 {
  font-size: 1.25rem;
}

/* Movies filters */
.movies-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0.25rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.movies-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mid);
  padding: 1rem;
  margin: 0;
  transition: all 0.5s;
  border-radius: 0.25rem;
  color: white;
  border: none;
  animation: 1s enter ease-in-out;
}

.movies-filter:hover {
  background-color: var(--contrast);
  border: none;
}

.selected.movies-filter,
.inside:hover .movies-filter {
  background-color: var(--contrast-dark);
  color: var(--white);
}

.inside.movies-filter {
  background-color: var(--contrast);
  color: var(--mid);
}

.selected.movies-filter:hover {
  background-color: var(--mid);
  color: white;
}

@media screen and (min-width: 600px) {
  .movies {
    grid-template: auto / repeat(auto-fill, minmax(30rem, 1fr));
  }

  .movie {
    grid-template-areas:
      'poster heading'
      'poster showtimes';
    grid-template-rows: 5rem 1fr;
    grid-template-columns: minmax(5rem, 10rem) 2fr;
  }
}

.loading {
  background-image: conic-gradient(red, blue, purple, red);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  animation: spin 1.9s infinite;
  position: absolute;
  left: calc(50% - 7.5rem);
  right: 50%;
  top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.movies {
  grid-gap: 0.5rem;
}

.expander-container.expanded .expanded-only {
  display: flex;
}
