.overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--dark);
  padding: 0.25rem;
  transition: all 500ms;
  z-index: 1;
}

.overlay-container {
  position: relative;
}

.cinema:hover .overlay,
.overlay-container:hover > .overlay,
.overlay-container.show-overlay > .overlay {
  opacity: 1;
}
