.big-popup {
  position: fixed;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  z-index: 4;
  display: grid;
  grid-template: 100% / 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: padding-top 0.4s ease-in-out, padding-bottom 0.4s ease-in-out,
    height 0.4s ease-in-out, top 0.4s ease-in-out,
    padding-left 0.5s 0.2s ease-in-out, padding-right 0.5s 0.2s ease-in-out,
    width 0.5s 0.2s linear, left 0.5s 0.2s linear;
  overflow: hidden;
}

.big-popup.active {
  height: 100vh;
  width: 100vw;
  padding: 5%;
  top: 0;
  left: 0;
  transition: padding-top 0.5s 0.2s ease-in-out,
    padding-bottom 0.5s 0.2s ease-in-out, height 0.5s 0.2s ease-in-out,
    top 0.5s 0.2s ease-in-out, padding-left 0.4s ease-in-out,
    padding-right 0.4s ease-in-out, width 0.4s linear, left 0.4s linear;
}

.big-popup > div {
  height: 100%;
  width: 100%;
  padding: 0;
  background-image: var(--backdrop-path),
    linear-gradient(45deg, var(--light-half), var(--contrast-dark-half));
  background-blend-mode: color-dodge;
  color: var(--dark);
  background-position: top center;
  background-size: contain;
  background-size: 20% contain;
  background-image: linear-gradient(transparent 1%, #f04e4ee0 15%),
    var(--backdrop-path);
  background-blend-mode: inherit;
  background-repeat: no-repeat;
  padding-top: 20%;
  align-self: stretch;
  justify-self: stretch;
  font-size: 1.25rem;
  overflow-y: hidden;
}

.big-popup.active > div {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.big-popup:not(.active) > div > * {
  display: none;
}

.big-popup > div {
  background-blend-mode: normal;
  background-color: white;
  background-position: top center, center center, center center;
  background-size: 100%, auto auto, cover;
  background-image: linear-gradient(
      var(--light) -10%,
      #ffffff10 10%,
      #f04e4e10 90%,
      var(--contrast) 110%
    ),
    radial-gradient(transparent, #fffa 0% 30%, #000a 100% 100%),
    var(--backdrop-path);
  padding: 1rem;
  position: relative;
  overflow-y: scroll;
}

.big-popup button.round {
  top: 1rem;
  right: 1rem;
  position: absolute;
  display: flex;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
}

.big-popup.active > div {
  padding: 5%;
  font-size: calc(1rem + 0.5vw);
  color: #262121;
}
