.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 1s;
  font-size: 2rem;
  z-index: 3;
}

.popup {
  background: var(--popup-background-color);
  color: var(--popup-text-color);
  box-shadow: 0.5rem 0.5rem 0.25rem -0.25rem var(--popup-shadow);
  padding: 1rem;
  border-radius: 1rem;
}

.popup-container.bye-bye-bye {
  left: -100%;
}
