.splash {
  background-image: url('https://i.pinimg.com/originals/ac/09/db/ac09dbaaebf77d6e928d355e1b528325.jpg');
  background-image: linear-gradient(
      var(--splash-gradient-start) 0,
      var(--splash-gradient-midpoint) 50%,
      var(--splash-gradient-end) 100%
    ),
    url('https://i.pinimg.com/originals/ac/09/db/ac09dbaaebf77d6e928d355e1b528325.jpg');
  background-position: center 85%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  height: 40vh;

  text-shadow: 0.1em 0.1em 0.1em var(--splash-shadow);
}

.splash,
.planning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
}

.splash h1 {
  font-size: calc(3rem + 2vw);
  text-shadow: 0.1em 0.1em 0.1em var(--splash-shadow);
  margin: 0;
}
.splash p {
  font-size: calc(2rem + 1vw);
  margin: 0;
}
.planning {
  color: var(--mid);
}
.planning h2 {
  font-size: calc(2rem + 0.5vw);
  font-family: inherit;
  text-shadow: 0.1em 0.1em 0.1em var(--light-half);
}
.planning h2 strong {
  font-family: 'Courier New', Courier, monospace;
}

.planning p {
  font-size: calc(1rem + 0.5vw);
  text-shadow: 0.05em 0.05em 0.05em var(--light-half);
}

.planning picture {
  max-width: 20rem;
  box-shadow: 2rem 2rem 2rem -1rem var(--splash-shadow);
}

.planning button .sr-only {
  font-size: inherit;
}

.splash {
  background-position: center 81%;
  height: calc(20vh + 5vw);
}

.splash h2 {
  font-size: calc(1.75rem + 4vw);
  animation: 1s enter ease-in-out;
}

.splash p {
  font-size: calc(1rem + 2vw);
  animation: 1.2s enter ease-in-out;
}

.big-link {
  background-image: linear-gradient(
    var(--mid) 0,
    var(--dark) 50%,
    var(--mid) 100%
  );
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1rem 1rem -0.5rem var(--splash-shadow);
}

.big-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 2rem 2rem -1rem var(--splash-shadow);
}

@keyframes enter {
  0% {
    position: relative;
    top: 1rem;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0rem;
    opacity: 1;
  }
}
