<ul class='movies-filters expander-container'>
  <p>
    {{label}}
  </p>
  {{#each urls}}
    <li class='{{class}}'>
      <a class='movies-filter' href='{{url}}'>{{label}}</a>
    </li>
  {{/each}}
  <p class='expander movies-filter'>Show</p>
</ul>