<div class='movie-showtimes'>
  {{#ifGreaterThan showtimes.length 6}}
    {{#eachSlice ../showtimes 0 5}}
      {{> showtimeCard this}}
    {{/eachSlice}}
    {{#eachSlice ../showtimes 5 showtimes.length}}
      {{> showtimeCard this class='expanded-only'}}
    {{/eachSlice}}
    <div class="movie-showtime expander">
      Show more
    </div>
  {{else}}
    {{#each ../showtimes}}
      {{> showtimeCard this}}
    {{/each}}
  {{/ifGreaterThan}}
</div>