<div class='movie-showtime overlay-container {{class}}'>
  <h4>
    {{time startTime}}
  </h4>
  {{#if @root.showDate}}
    <p>
      {{dateMonth startTime}}
    </p>
  {{/if}}
  {{#if cinema.name}}
    <div class='overlay'>
      {{> addToCalendar showtime=this}}
      <p class='extra-info'>
        <span>
          {{cinema.name}}
        </span>
      </p>
    </div>
  {{/if}}
</div>