.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
  font-size: 1rem;
  z-index: 3;
}

.toast {
  background: var(--toast-background-color);
  color: var(--toast-text-color);
  box-shadow: 0.5rem 0.5rem 0.25rem -0.25rem var(--toast-shadow);
  padding: 1rem;
  border-radius: 1rem;
}

.toast-container.bye-bye-bye {
  left: -100%;
}
