.CalendarGrid {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  max-width: 100%;

  @media screen and (min-width: 600px) {
    display: grid;
    overflow-x: scroll;
    /* default can be overriden by JS */
    --creneaux-count: 96;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: dense;

    &.column {
      grid-template-columns: repeat(var(--creneaux-count), 2.5rem);
    }
    &.row {
      grid-template-rows: repeat(var(--creneaux-count), 2.5rem);
    }

    padding: 1rem;
    gap: 0.5rem;
  }
}
