.sidebar-time {
  display: none;

  color: white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 0.25rem;
  grid-row: auto;
  grid-column: auto;
  text-align: left;

  @media screen and (min-width: 600px) {
    display: block;
  }
}

$orientations: row column, column row;

@each $mainAxis, $crossAxis in $orientations {
  .#{$mainAxis} {
    .sidebar-time {
      grid-#{$crossAxis}: var(--start) / span var(--endSpan);
    }
  }
}
