.movie-filter-group {
  // position:absolute;
  // left: 0;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  justify-content: center;
  padding: 0.25rem;
  gap: 0.25rem;

  &.closed {
    display: none;
  }

  &.top-level {
    grid-column: auto;

    @media screen and (min-width: 600px) {
      grid-row: 1;
    }
  }
}

.movies-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  margin: 0;
  transition: all 0.5s;
  border-radius: 0.25rem;
  color: white;
  border: none;
  animation: 1s enter ease-in-out;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: calc(1.25rem + 0.5vw);

  &.selected {
    background-color: var(--contrast-dark);
    color: var(--white);
  }

  &.inside {
    background-color: var(--contrast);
    color: var(--mid);
  }

  &:hover {
    background-color: var(--contrast);
    border: none;
  }

  &.selected:hover {
    background-color: var(--mid);
    color: var(--text);
  }
}
