nav.filters {
  display: grid;
  gap: 0.125rem;

  position: relative;
  z-index: 2;

  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-items: stretch;
  justify-content: center;

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movies-filters-menu {
  background-color: var(--mid);
  text-align: center;

  position: relative;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 600px) {
    padding: 1rem;
  }
  h3 {
    font-size: 1.25rem;

    @media screen and (min-width: 600px) {
      grid-row: 1;
    }
  }
}
