nav.filters {
  display: grid;

  position: relative;
  z-index: 2;

  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.25rem;

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movies-filters-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;

  @media screen and (min-width: 600px) {
    border-radius: 3rem;
  }
  h3 {
    @media screen and (min-width: 600px) {
      grid-row: 1;
    }
  }
}
