.movie-filter-group {
  display: flex;
  position: absolute;
  z-index: 2;

  width: calc(100% - 2rem);
  padding: 0.5rem;
  background: var(--dark);
  border-radius: 1rem;

  flex-wrap: wrap;
  grid-column: 1 / -1;
  justify-content: center;
  gap: 0.375rem;

  &.closed {
    display: none;
  }

  &.top-level {
    grid-column: auto;

    @media screen and (min-width: 900px) {
      grid-row: 1;
      grid-column-end: -1;
    }
  }
}
